@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inspiration', cursive;
    font-weight: 600;
}
#letter-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(asset/img/grunge-paper-texture-vectors.jpg); /* URL de la texture de la lettre */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#letter-text {
    
    width: 80%;
    height: 80%;
    font-size: 32px;
    line-height: 50px;
    font-family: Arial, sans-serif;
    color: #000000;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.letter{
    display: inline-block;
    white-space: pre;
}
.img-container{
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.signature-container{
    position: absolute;
    bottom: 42px;
    right: 15%;
}
.signature {
    stroke-dasharray: 2000; 
    stroke-dashoffset: 2000; 
    stroke-linejoin: round;
    stroke-linecap: round; 
    fill: none; 
    stroke-width: 2; 
    stroke: #000; 
}
